/* code mirror */

.ͼo {
  background-color: transparent !important;
}

.ͼ2 .cm-gutters,
.ͼ1jy .cm-gutters,
.ͼ3 .cm-gutters,
.ͼo .cm-gutters,
.ͼo {
  background-color: transparent !important;
}


.ͼ1 .cm-line{
  padding-left: 12px;
}